<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="description" content="Smachnogo: Login"/>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Smachnogo: Login</title>
	</head>
	<body>
		<header>
			<h1 align="center">Smachnogo</h1>
		</header>
		<table>
			<tr>
				<td>
					<h2>Username</h2>
				</td>
				<td>
					<input type="input" value = "" name="username"/>
				</td>
			</tr>
			<tr>
				<td>
					<h2>Password</h2>
				</td>
				<td>
					<input type="password" value = "" name="password"/>
				</td>
			</tr>
		</table>
		<input type="submit" accesskey="g" name="submit" value="Login"/>
	</body>
</html>